.large-hero {
    position: relative;
}
.large-hero__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);     /* this will move (in this case the div containing text) -50% of the divs height upwards . Y axis being vertical*/
    left: 0;
    width: 100%;
    text-align: center;
}